
<div class="card bg-light m-3">
<div class="card-body">
    <h3>
        <!-- Comments here -->
        Instructions
    </h3>

    {% if session.config.endowment == 'equal' %}
    <p>
        You will be paired randomly and anonymously with another participant.
        In this study, one of you will be Participant A and the other Participant B.
        Prior to making a decision, you will learn your role.
    </p>
    <p>
        At the beginning of the game, you are given {{ Constants.endowment_equal }},
        while the other participant is given {{ Constants.endowment_equal }}.
    </p>
            <p>
               The roles will be assigned as follows.
                When the experiment begins you will be forwarded to a waiting page
                at which there will be a [device: graph/random number generator]
                that generates random numbers. After a minute of observing the [device] at work,
                the procedure of generating new numbers will be stopped.
                The last digit of the observed number will determine the role of the participant:
            </p>
    <p>
                - if the number is odd,
                Participant A loses {{ Constants.endowment_equal }} from what he had in the beginning of the game and Participant B  loses 0;
         </p>
               <p>
                - if the number is even,
                Participant A  loses 0 from what he had in the beginning of the game and Participant B  loses {{ Constants.endowment_equal }}.
        </p>
    <p>
    The participant that stays with money will be enabled to share
                a certain amount (from 0 to {{ Constants.endowment_equal }}) with another participant.
                He/she will be asked to make a decision on the amount to transfer.
    </p>


       {% endif %}
       {% if session.config.endowment == 'larger' %}
            <p>
        You will be paired randomly and anonymously with another participant.
        In this study, one of you will be Participant A and the other Participant B.
        Prior to making a decision, you will learn your role.
            </p>
        <p>
        At the beginning of the game, you are given {{ Constants.endowment_unequal_high }},
        while the other participant is given {{ Constants.endowment_unequal_low }}.
    </p>
            <p>
               The roles will be assigned as follows.
                When the experiment begins you will be forwarded to a waiting page
                at which there will be a [device: graph/random number generator]
                that generates random numbers. After a minute of observing the [device] at work,
                the procedure of generating new numbers will be stopped.
                The last digit of the observed number will determine the role of the participant:
            </p>
            <p>
                - if the number is odd,
                Participant A loses {{ Constants.endowment_unequal_high }} from what he had in the beginning of the game and Participant B  loses 0;
                </p>
    <p>
                - if the number is even,
                Participant A  loses 0 from what he had in the beginning of the game and Participant B  loses {{ Constants.endowment_unequal_low }}.
                </p>
    <p>
                The participant that stays with money will be enabled to share
                a certain amount (from 0 to {{ Constants.endowment_unequal_high }}) with another participant.
                He/she will be asked to make a decision on the amount to transfer.
            </p>

       {% endif %}
        {% if session.config.endowment == 'smaller' %}
                         <p>
        You will be paired randomly and anonymously with another participant.
        In this study, one of you will be Participant A and the other Participant B.
        Prior to making a decision, you will learn your role.
            </p>
            <p>
                The shock is represented by a change in a Bitcoin value denoted USA Dollars.
                At some time you will be forwarded to a page where you can see
                Bitcoin value changing in real time. At [time] the value will be taken
                as a benchmark: if the last digit in Bitcoin value is odd
                Participant 1 will be hit by a shock,
                if the last digit in Bitcoin value is even,  Participant 2 will be hit by a shock.
            </p>
            <p>
        At the beginning of the game, you are given {{ Constants.endowment_unequal_low }},
        while the other participant is given {{ Constants.endowment_unequal_high }}.
        </p>
                <p>
               The roles will be assigned as follows.
                When the experiment begins you will be forwarded to a waiting page
                at which there will be a [device: graph/random number generator]
                that generates random numbers. After a minute of observing the [device] at work,
                the procedure of generating new numbers will be stopped.
                The last digit of the observed number will determine the role of the participant:
            </p>
                <p>
                - if the number is odd,
                Participant A loses {{ Constants.endowment_unequal_low }} from what he had in the beginning of the game and Participant B  loses 0;
                </p>
                    <p>
                    - if the number is even,
                Participant A  loses 0 from what he had in the beginning of the game and Participant B  loses {{ Constants.endowment_unequal_high }}.
                </p>
    <p>
    The participant that stays with money will be enabled to share
                a certain amount (from 0 to {{ Constants.endowment_unequal_low }}) with another participant.
                He/she will be asked to make a decision on the amount to transfer.
            </p>

       {% endif %}


</div>
</div>


