{{ block title }}
Игра
{{ endblock }}
{{ block content }}

<div class="alert alert-warning" role="alert">

<tr>
    <td>
        {{ if player.artists == "Пьер Ренуap" }}
            Вы относитесь к группе <strong> Пьера Ренура  </strong>.
        {{ else }}
            Вы относитесь к группе <strong> Клода Моне  </strong>.
        {{ endif }}
    </td>
</tr>
</div>



<div class="alert alert-info" role="alert">

<tr>
    <td>
       {{ if p2.artists == "Пьер Ренуap" }}
            Участник, состоящий с Вами в паре, относится к группе <strong> Пьера Ренура  </strong>.
       {{ else }}
            Участник, состоящий с Вами в паре, относится к группе <strong> Клода Моне  </strong>.
       {{ endif }}
    </td>
</tr>
</div>




Теперь Вы можете приступить к эксперименту! <br>

Пожалуйста, подбросьте кубик и введите выпавшее число. <br>
    {{ formfields }}


NB! Ваш результат в игре определяется следующим образом:

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-dvpl{border-color:inherit;text-align:right;vertical-align:top}

</style>
<table class="tg">
  <thead>
  <tr>
    <th class="tg-dvpl">Выпавшее число</th>
    <th class="tg-c3ow">1</th>
    <th class="tg-c3ow">2</th>
    <th class="tg-c3ow">3</th>
    <th class="tg-baqh">4</th>
    <th class="tg-baqh">5</th>
    <th class="tg-baqh">6</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="tg-dvpl">Ваш результат</td>
    <td class="tg-c3ow">100</td>
    <td class="tg-c3ow">200</td>
    <td class="tg-c3ow">300</td>
    <td class="tg-baqh">400</td>
    <td class="tg-baqh">500</td>
    <td class="tg-baqh">&nbsp;&nbsp;0&nbsp;&nbsp;</td>
  </tr>
  </tbody>
</table>

    {{ next_button }}

{{ endblock }}
